# 과제. 따릉이 대여량 예측하기

## 데이터 전처리

데이터 변수 설명
- Hour : 빌린 시간

In [1]:
import pandas as pd
import numpy as np
import plotly.express as px

In [5]:
# train data 불러오기

df_train = pd.read_csv("C:/Users/강태희/Documents/data/train.csv")
df_train.head()

,Date,Rented Bike Count,Hour,Temperature(째C),Humidity(%),Wind speed (m/s),Visibility (10m),Dew point temperature(째C),Solar Radiation (MJ/m2),Rainfall(mm),Snowfall (cm),Seasons,Holiday,Functioning Day
0,01/12/2017,254,0,-5.2,37,2.2,2000,-17.6,0.0,0.0,0.0,NaN,No Holiday,Yes
1,01/12/2017,204,1,-5.5,38,0.8,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes
2,01/12/2017,173,2,-6.0,39,1.0,2000,-17.7,0.0,0.0,0.0,Winter,No Holiday,Yes
3,01/12/2017,107,3,-6.2,40,0.9,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes
4,01/12/2017,78,4,-6.0,36,NaN,2000,-18.6,0.0,0.0,0.0,Winter,No Holiday,Yes

In [6]:
df_train.tail()

,Date,Rented Bike Count,Hour,Temperature(째C),Humidity(%),Wind speed (m/s),Visibility (10m),Dew point temperature(째C),Solar Radiation (MJ/m2),Rainfall(mm),Snowfall (cm),Seasons,Holiday,Functioning Day
8035,31/10/2018,1507,19,8.4,53,NaN,2000,-0.6,0.0,0.0,0.0,Autumn,No Holiday,Yes
8036,31/10/2018,1176,20,7.6,59,0.7,2000,0.0,0.0,0.0,0.0,NaN,No Holiday,Yes
8037,31/10/2018,1069,21,7.6,59,3.0,1929,0.0,0.0,0.0,0.0,Autumn,No Holiday,Yes
8038,31/10/2018,1088,22,6.8,58,2.2,1936,-0.9,0.0,0.0,0.0,Autumn,No Holiday,Yes
8039,31/10/2018,798,23,6.4,60,1.8,1930,-0.8,0.0,0.0,0.0,Autumn,No Holiday,Yes

In [3]:
df_train.columns

Index(['Date', 'Rented Bike Count', 'Hour', 'Temperature(째C)', 'Humidity(%)',
       'Wind speed (m/s)', 'Visibility (10m)', 'Dew point temperature(째C)',
       'Solar Radiation (MJ/m2)', 'Rainfall(mm)', 'Snowfall (cm)', 'Seasons',
       'Holiday', 'Functioning Day'],
      dtype='object')

In [4]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8040 entries, 0 to 8039
Data columns (total 14 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Date                       8040 non-null   object
 1   Rented Bike Count          8040 non-null   int64
 2   Hour                       8040 non-null   int64
 3   Temperature(째C)            7240 non-null   float64
 4   Humidity(%)                8040 non-null   int64
 5   Wind speed (m/s)           7238 non-null   float64
 6   Visibility (10m)           8040 non-null   int64
 7   Dew point temperature(째C)  8040 non-null   float64
 8   Solar Radiation (MJ/m2)    8040 non-null   float64
 9   Rainfall(mm)               8040 non-null   float64
 10  Snowfall (cm)              8040 non-null   float64
 11  Seasons                    7238 non-null   object
 12  Holiday                    8040 non-null   object
 13  Functioning Day            8040 non-null   object
dtypes: float64(6), int64(4), object(4)
memory usage: 879.5+ KB

- Temperature: 달의 평균값이나 최빈값이나, 앞 전날의 평균값으로/ 보간법 패키지 (사이의 결측값 채우기, 시계열 데이터)
             df.interpolate(method='linear')
- Wind speed: 온도와 똑같은 방법으로 하기
- Seasons: 12-2월까지 겨울, 3월부터 ...

- 상관계수 파악하기
- 이상치 파악하기
- 시각화하면서 변수 파악해보기 
- 계절, holiday 수치형 변수로 나타내기 
- 결측치 같은 것들도 nall로 변환 후 결측치 처리하기 (변환)